@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
$font-family: "Ubuntu";
.v-application {
  [class*="text-"] {
    color: #36405a;
    font-family: $font-family !important;
    border-radius: 10px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family !important;
  }
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption {
    font-family: $font-family !important;
  }
  font-family: $font-family !important;
}
